$light: #ffffff;
$dark: #000000;
$accent1: #ec2a2a;
$accent2: #ec782a;
$wrong: #ec982a;
$right: #2a78ec;
$wrong-bg: #ec672a21;
$right-bg: #2ab5ec3a;
$grad: linear-gradient(to left, $accent1 0%, $accent2 100%);