.footer {
  background: $dark;
  color: $light;
  // .footer__container

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__item

  &__item {
  }

  // .footer__link

  &__link {

    &_rss {
      
      img{
        height: 40px;
      }

    }

    &_git {

    }
  }
}

