.start {
  display: none;
  &._visible {
    display: flex;
    align-items: center;
    justify-content: center;
   }
 

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.692);
    border-radius: 10px;

    @media (max-width: 640px){
      width: 95%;
    }
  }

  &__btn {
    margin-top: 30px;
    @media (max-width: 640px){
      margin-top: 0;
    }
  }

  &__title {
    font-family: Lobster, Verdana, fantasy;
    font-size: 4rem;
    line-height: 1.5;
    background: $grad;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    @media (max-width: 640px) {
      line-height: 1.5;
    }

    @media (max-width: 478px){
      font-size: 2.5rem;
      line-height: 1.5;
    }
  }

  &__greeting {
    font-size: 1.5rem;
    text-align: center;

    @media (max-width: 478px){
      font-size: 1.1rem;
      line-height: 1.1;
    }
  }










}